<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
</head>
<body>
<h1>Slim3 PHP Skeleton Code</h1>
<h2>Hello World!</h2>
<p>Don't forget to rename file ".env_copy" to ".env" and fill the necessary information (i.e database password)</p>
<p>You can start develop the routing on /router/develop.php - for development</p>
<p>Don't forget to run "composer dumpautoload -o" after adding new class (Controller, Service, Core, etc)</p>
<p><a target="blank" href="https://bitbucket.org/mikegani/slim-skeleton">https://bitbucket.org/mikegani/slim-skeleton</a></p>
<p>Have fun!</p>
<p>Mike</p>
</body>
</html>